.wrapper {
  padding: 60px 16px;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.card {
  max-width: 1200px;
  width: 100%;
  /* background: #fcd9b6; */
  border: 6px solid #d97706;
  border-radius: 16px;
  padding: 32px;
}

.title {
  color: #1e88e5;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.text {
  font-size: 15px;
  line-height: 1.9;
  color: #000;
  margin-bottom: 18px;
}

/* Table */
.tableWrapper {
  overflow-x: auto;
  margin-top: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* background: #fbd4b0; */
}

.table th,
.table td {
  border: 1.5px solid #000;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

.table th {
  font-weight: 700;
}
