.wrapper {
  padding: 60px 16px;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.card {
  max-width: 900px;
  width: 100%;
  /* background: #fcd9b6; */
  border: 6px solid #d97706;
  border-radius: 14px;
  padding: 32px;
}

.title {
  color: #1e88e5;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.text {
  font-size: 15px;
  line-height: 1.8;
  color: #000;
  margin-bottom: 18px;
}
