.footer {
  background: #0d2859;
  color: white;
  padding: 50px 60px 20px;
}

.container {
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
  max-width: 84rem;
  margin: 0 auto;
  width: 100%;
}

.left {
  width: 40%;
}

.logoboxfooter {
  width: 3.5rem;
}

.title {
  font-size: 24px;
  margin: 0;
}

.subtitle {
  margin-top: 2px;
  font-size: 15px;
  font-weight: 500;
}

.ministry {
  margin-top: 2px;
  font-size: 13px;
  opacity: .9;
}

.desc {
  margin-top: 15px;
  font-size: 14px;
  line-height: 19px;
  opacity: .85;
}

/* Middle Section */
.middle {
  display: flex;
  gap: 0px 2.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 3rem;
}

.right {
  width: 25%;
}

.colTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.middle ul,
.right ul {
  list-style: none;
  padding: 0;
}

/* ---------- LINK LIST Styling ---------- */
.linkList li {
  margin-bottom: 6px;
}

.linkList li a {
  color: rgba(255,255,255,0.85);
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease;
  display: inline-block;
}

.linkList li a:hover {
  color: #ffffff;
  text-decoration: underline;
  transform: translateX(3px);
}

/* -------------------------------------- */

.addr {
  margin-top: 10px;
  font-size: 14px;
  line-height: 19px;
  opacity: .85;
}

.social {
  margin-top: 15px;
}

.social span {
  font-size: 14px;
}

.icons {
  display: flex;
  gap: 15px;
  margin-top: 6px;
  font-size: 22px;
}

.headingBlock {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  gap: 0px 2rem;
}

/* ---------- EXTRA INFO BLOCK ---------- */
.extraInfo {
  text-align: center;
  color: #d6e2ff;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.5;
}

/* COPYRIGHT BAR */
.copyBar {
  background: #021f4f;
  padding: 10px 0;
}

.copy {
  text-align: center;
  font-size: 13px;
  opacity: .85;
  color: white;
}

.visitorSample {
  background: #fff;
  text-align: center;
  padding: 15px 10px;
  border-top: 1px solid #ddd;
}

.visitorBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-bottom: 6px; */
  margin-top: 2rem;
}

.visitorLabel {
  font-weight: 600;
  font-size: 14px;
}

.visitorCount {
  font-family: "Courier New", monospace;
  font-size: 14px;
  background: #000;
  color: #fff;
  padding: 4px 10px;
  letter-spacing: 2px;
}

.lastUpdated {
  font-size: 14px;
  color: #333;
}

.medialinks {
  color : white;
  text-decoration: none;
}