.objective-wrapper {
  /* background: #fff5ef; */
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.objective-container {
  width: 90%;
  max-width: 1250px;
  /* background: #f3c08a; */
  padding: 50px 60px;
  border-radius: 15px;
  border: 4px solid #b35318;
  font-size: 17px;
  line-height: 1.75;
}

.objective-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #1d1d1d;
}

.intro-text {
  margin-bottom: 25px;
  font-size: 17px;
}

/* LIST STYLE */
.objective-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.objective-list li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 18px;
  font-size: 17px;
}

.list-icon {
  font-size: 20px;
  color: #f72;
  margin-top: 4px;
}

/* Responsive */
@media (max-width: 768px) {

  .objective-wrapper {
    padding: 30px 0;
  }

  .objective-container {
    width: 94%;
    padding: 25px 18px;
    font-size: 15px;
    line-height: 1.65;
    border-width: 3px;
  }

  .objective-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .intro-text {
    font-size: 15px;
    margin-bottom: 18px;
  }

  .objective-list li {
    font-size: 15px;
    gap: 10px;
    margin-bottom: 14px;
  }

  .list-icon {
    font-size: 18px;
    margin-top: 3px;
  }
}

