.pageWrapper {
  /* background: #f8dcc0; */
  padding: 40px 20px;
  border-left: 8px solid #d16800;
  border-right: 8px solid #d16800;
}

.pageWrapper h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.pageWrapper section {
  margin-bottom: 35px;
}

.pageWrapper h2 {
  margin-bottom: 12px;
  color: #000;
}

.pageWrapper p,
.pageWrapper ul li {
  font-size: 16px;
  line-height: 1.6;
  color: #111;
}

ul {
  padding-left: 20px;
}

.contactBox {
  background: #fff3e6;
  padding: 20px;
  border-radius: 8px;
}
