.wrapper {
  padding: 60px 16px;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.card {
  max-width: 1100px;
  width: 100%;
  /* background: #fcd9b6; */
  border: 6px solid #d97706;
  border-radius: 16px;
  padding: 32px;
}

.title {
  color: #1e88e5;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.text {
  font-size: 15px;
  line-height: 1.9;
  color: #000;
  margin-bottom: 18px;
}

.list {
  margin-top: 16px;
  padding-left: 22px;
}

.list li {
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 14px;
}
