/* Top Blue Bar */
.topBar {
  background: #0d2859;
  color: white;
  padding: 6px 20px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.langBtn {
  background: white;
  color: #0d2859;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

/* Main Header */
.mainHeader {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  /* padding: 18px 28px; */
  background: #fff;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo {
  width: 45px;
}

.title {
  color: #ff6600;
  margin: 0;
  font-size: 20px;
}

.subtitle {
  margin: 0;
  font-size: 14px;
}

.ministry {
  margin: 0;
  font-size: 12px;
  color: #555;
}

/* Search + Buttons */
.rightSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 180px;
  outline: none;
}

.loginBtn {
  background: #ff6b00;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.registerBtn {
  background: #ff6b00;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Navigation Bar */
.navBar {
  /* padding: 12px 28px; */
  margin-top: 1rem;
  display: flex;
  gap: 25px;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-top: 1px solid #e5e5e5; */
}

.navBar a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 70px 90px; */
  background: linear-gradient(to right, #fff4eb, #ffffff);
}

.left {
  max-width: 588px;
}

.left h1 {
  font-size: 41px;
  color: #2d2d2d;
  margin-bottom: 10px;
  font-weight: 700;
}

.left h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 22px;
  font-weight: 500;
}

.left p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  gap: 18px;
}

.exploreBtn {
  background: #ff7a21;
  color: white;
  padding: 12px 28px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.exploreBtn span {
  margin-left: 6px;
  font-size: 17px;
}

.learnBtn {
  background: transparent;
  color: #ff7a21;
  padding: 11px 28px;
  font-size: 15px;
  border: 2px solid #ff7a21;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.right img {
  width: 380px;
  object-fit: contain;
}

.statsSection {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 15px 0;
  background: #fff5ef;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 22px;
  height: 22px;
}

.statItem h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.statItem p {
  margin: 0;
  font-size: 15px;
  color: #ff7a21;
  font-weight: 500;
}

.dot {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 50px 0;
  padding: 0 40px;
}

.card {
  width: 408px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 2px solid #dddddd;
  padding: 10px;
}

.cardImg {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card h3 {
  margin: 18px 15px 10px 15px;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.card ul {
  margin: 0 15px;
  padding-left: 20px;
}

.card ul li {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 35px;
  /* padding: 40px; */
  margin-bottom: 2rem;
}

.leftbox {
  width: 35%;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  padding: 25px 28px;
}

.rightbox {
  width: 65%;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  padding: 25px 28px;
}

.box h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #222;
  font-weight: 700;
}

/* LEFT LIST (OL) */
.list {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 35px;
}

.list li {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.list li span {
  font-size: 18px;
  color: #444;
}

/* RIGHT LIST (Announcements) */
.annList {
  margin: 0 0 35px 18px;
}

.annList li {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ff7a21;
  list-style-type: disc;
}

/* View Button */
.viewBtn {
  border: 2px solid #ff7a21;
  color: #ff7a21;
  background: transparent;
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.viewBtn span {
  margin-left: 6px;
  font-size: 18px;
}

.hero {
  /* position: relative;
  width: 100%; */
  /* height: 220px; */
  background-size: cover;
  background-position: center;
  /* border-bottom: 4px solid #021d6b; */

  /* Leave space for your image */
  background-image: url("");
  /* Add your image path here */
}

/* .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
} */

.content {
  position: relative;
  padding-bottom: 70px;
  max-width: 600px;
  color: #ffffff;
  z-index: 2;
}

.content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
}

.content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 22px;
}

.content p {
  color: #dcdcdc;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 18px;
}

.exploreBtn {
  background: #ff7a21;
  color: white;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.exploreBtn span {
  margin-left: 6px;
  font-size: 18px;
}

.learnBtn {
  background: transparent;
  border: 2px solid #ff7a21;
  color: #ff7a21;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.footer {
  width: 100%;
  background: #243a86;
  color: #ffffff;
padding-top: 35px;
  display: flex;
  gap: 90px;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
}

/* column widths */
.colLeft { width: 36%; }
.colMid { width: 24%; }
.colRight { width: 27%; }

/* left */
.brand {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.logo {
  width: 58px;
}

/* text */
.title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.subtitle {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.ministry {
  font-size: 13px;
  margin-top: 4px;
  opacity: .8;
}

.desc {
  margin-top: 22px;
  line-height: 1.55;
  opacity: .85;
  font-size: 14px;
}

/* headings */
.heading {
  margin: 25px 0 10px;
  font-size: 15px;
  font-weight: 600;
}

/* UL */
.links {
  margin: 0 0 18px;
  padding-left: 20px;
}

.links li {
  margin-bottom: 6px;
  font-size: 14px;
  opacity: .85;
}

/* social */
.socialRow {
  margin-top: 6px;
  display: flex;
  gap: 12px;
}

.socialIcon {
  width: 22px;
  filter: invert(1);
}


/* LEFT SECTION */
.left {
  width: 39%;
}

.logoRow {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.logo {
  width: 46px;
  /* slightly smaller */
}

.left h2 {
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: 700;
}

.left h4 {
  font-size: 15px;
  margin-bottom: 4px;
}

.left p {
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 1.4;
}

.desc {
  margin-top: 14px;
  font-size: 14px;
  color: #d2d2d2;
  line-height: 1.45;
}

/* LINK SECTION */
.linksSection {
  width: 22%;
}

.linksSection h4 {
  font-size: 15px;
  margin-bottom: 8px;
}

.linksSection ul {
  margin: 0 0 15px;
  padding-left: 18px;
}

.linksSection ul li {
  font-size: 14px;
  margin-bottom: 5px;
  color: #e6e6e6;
}

/* SOCIAL ICONS */
.socialRow {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.socialIcon {
  width: 20px;
  height: 20px;
}

/* ADDRESS */
.address {
  width: 28%;
}

.address h4 {
  font-size: 15px;
  margin-bottom: 8px;
}

.address p {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.4;
  color: #dfdfdf;
}

.footerhero {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-bottom: 70px;
  /* background: linear-gradient(to right, #fff4eb, #ffffff); */
}

.searchandnavbarbox {
  display: flex;
  justify-content: space-between;
}













.dropdown {
  position: relative;
}



.dropdownContent {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
  padding: 10px 0;
  min-width: 300px;
  top: 100%;
  left: 0;
  z-index: 9999;
}

.dropdownContent a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.dropdownContent a:hover {
  background: #f4f4f4;
}

/* SHOW ON HOVER */
.dropdown:hover .dropdownContent {
  display: block;
}
