
.container {
  max-width: 84rem;
  margin: 0 auto;
  width: 100%;
}

.orangegradinet
{
  background: linear-gradient(to right, #fff5ef, #ffffff);
}

.bluebackground
{
  background: #253A85;
}

.footerbackground
{
  background: url("./assets/Images/Bottom.png");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 
}