

.container {
  max-width: 87rem;
  margin: 0 auto;
  width: 100%;
  padding: 0px 2rem;
}

.orangegradinet
{
  background: linear-gradient(to right, #fff5ef, #ffffff);
}

.bluebackground
{
  background: #253A85;
}

.footerbackground
{
  background: url("./assets/images/Bottom.png");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 
}